In [17]:
import pandas as pd
from datetime import datetime, timedelta
import os
import sys
import csv
import importlib
import time
import tweepy

from db import *

#sys.path.append('/Volumes/GoogleDrive/Mon Drive/Python-helpers')
#from save_obj import *

csv.field_size_limit(sys.maxsize) # To avoid max field limit on loading df_ts

9223372036854775807

In [18]:

# Authenticate to Twitter
auth = tweepy.OAuthHandler("W9Z93ZrDntx9oFyCWOJbilxez", 
    "Qc1RhQFKQiHl9rxmwpZgDchjl1RFXDluO8tQGgBIQDe2EfgwfT")
auth.set_access_token("1174692196815167488-0T0zCqNHA4xw2a5GGgbD4QAfaluBJF", 
    "Lg0TJSIGAehX29MDAz5ZtxEz4TRyKjzDmVX29jgIYUoVb")

api = tweepy.API(auth)

try:
    api.verify_credentials()
    print("Authentication OK")
except:
    print("Error during authentication")

Authentication OK

In [2]:
path_df = "data/merged_tables/view_retweet_graph.csv"
df = pd.read_csv(path_df, encoding='utf-8', engine='python')

In [3]:
df.head()

                source               target  weight
0  1000019702603710464  1062908686366990336       1
1  1000019702603710464           1409798257       1
2  1000019702603710464            213773366       1
3  1000019702603710464            335141638       1
4  1000019702603710464            373471064       1

### Accounts who retweet the most

In [13]:
df_source = (df.groupby('source')['weight']
               .apply(sum)
               .reset_index(name='count'))

In [25]:
df_sorted = df_source.sort_values(by='count', ascending=False)
df_sorted = df_sorted.iloc[:10, :]
df_sorted['source'] = df_sorted['source'].apply(lambda x: api.get_user(x).screen_name)

In [26]:
df_sorted

              source  count
7302     oritsuwashi   4616
6112      yoramotzxr   4459
13191        nes_sim   3541
11041    VolewskyPSG   3495
14662      Coco45800   3221
5473       pobondoux   3211
6308   PatureauMarie   3209
13578      voinconmc   3208
6167     HeelLeClech   3206
6791      natpat6477   3206

### Accounts who are retweeted the most

In [27]:
df_target = (df.groupby('target')['weight']
               .apply(sum)
               .reset_index(name='count'))

In [30]:
df_sorted = df_target.sort_values(by='count', ascending=False)
df_sorted = df_sorted.iloc[:10, :]
df_sorted['target'] = df_sorted['target'].apply(lambda x: api.get_user(x).screen_name)

In [31]:
df_sorted

                target   count
336809  Brevesdepresse  100520
202345    MLP_officiel   96475
155479           BFMTV   75693
962312   EnModeMacaron   72995
110201     JLMelenchon   72283
329320     JeanMessiha   69455
272965           afpfr   66981
65040     dupontaignan   63049
554553  EmmanuelMacron   57250
741581      SJallamion   57101

### Most used hashtags

In [34]:
path_df = "data/merged_tables/view_author_hashtag.csv"
df = pd.read_csv(path_df, encoding='utf-8', engine='python')

In [36]:
df_hashtag = (df.groupby('hashtag')['count']
               .apply(sum)
               .reset_index(name='count'))

In [40]:
df_sorted = df_hashtag.sort_values(by='count', ascending=False)
df_sorted = df_sorted.iloc[:10, :]

In [41]:
df_sorted

              hashtag   count
295549   GiletsJaunes  260191
450568         Macron  201406
271852         France   59692
553642          Paris   52390
946998   giletsjaunes   52382
23752             AFP   45721
89239         Benalla   45262
396484           LREM   40863
738797          Trump   32159
1026129        macron   29129

### Most used urls

In [42]:
path_df = "data/merged_tables/entities_url.csv"
df = pd.read_csv(path_df, encoding='utf-8', engine='python')

In [44]:
df_url = df.groupby('url').size()

In [46]:
df_sorted = df_url.sort_values(ascending=False)
df_sorted[:10]

url
http://unfollow.fr                               14342
http://fllwrs.com                                12857
https://support.twitter.com/articles/20169199     6600
http://www.crowdfireapp.com/?r=td                 4358
http://newsmagnet.info                            3211
http://ladepeche.fr                               2843
http://unfollowspy.com                            2748
http://makaroff.com                               2654
http://volting.playtheradio.com                   2001
https://du3a.org/                                 1711
dtype: int64